{
  "extends": ["airbnb-base", "plugin:eslint-comments/recommended"],
  "rules": {
    "func-names": "off",
    "no-console": "off",
    "no-underscore-dangle": ["error", {"allow": ["_id"]}],
    "eslint-comments/no-unlimited-disable": "error",
    "eslint-comments/no-use": ["error", {"allow": ["eslint-disable-next-line", "eslint-disable-line", "eslint-disable"]}]
  }
}
