# Logs
logs/
*.log

# Dependency directory
node_modules/

# Optional npm cache directory
.npm/

# System files and IDE settings folders
.DS_Store
.env

# WebStorm specific files and directories
.idea/
*.iml

.vercel
